


/* {
    whiteSpace: 'pre-wrap',
    wordWrap: 'break-word',
    height: 'auto',
    overflowWrap: 'break-word',
    wordBreak: 'break-word',
    maxHeight: '100px',
  } */

   .container {
    white-space: pre-wrap;
    }
    #disabled-field {
      opacity: 2;
      pointer-events: none;
      font-weight: bold;
      color: #000
    }
    
    
    