.verhor-controls {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
  font-size: 12px;
}

.verhor-controls button {
  padding: 5px;
  border: 2px solid rgb(184, 184, 184);
  background-color: white;
}

.verhor-controls button:hover {
  cursor: pointer;
  border-color: gray;
  background-color: rgb(233, 233, 233);
}

.verhor-controls button:first-child {
  margin-right: 10px;
}