.recibo {
  width: 1000px;
  border: solid 1px black;
}

.recibo__titulo {
  background-color: #b3b3b3;
  text-align: center;
  padding: 5px;
  border: solid 1px black;
}

.recibo__encabezado {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: solid 1px black;
}

.recibo__ley {
  background-color: #b3b3b3;
  text-align: center;
  padding: 5px;
  border: solid 1px black;
}

.recibo__descripcion {
  padding: 5px;
  border: solid 1px black;
  background-color: white;
}

.descripcion, .empresa {
  margin-bottom: 0;
  margin-top: 0;
}

.empresa--space {
  margin-top: 0;
  margin-bottom: 3em;
}

.encabezado__logo {
  width: 15%;
}

.encabezado__empresa {
  width: 50%;
  text-align: center;
}

.encabezado__pago {
  width: 35%;
  background-color: #b3b3b3;
  padding: 5px;
}

.pago__referencia {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
}

.referencia__titulo {
  width: 50%;
}

.referencia__info {
  width: 50%;
  background-color: white;
  text-align: center;
}

.pago__fecha--titulo {
  text-align: center;
  margin-top: 1.5em;
}

.pago__fecha--info {
  text-align: center;
  background-color: white;
}

.recibo__datos {
  border: solid 1px black;
  padding: 0 0 0 5px;
  background-color: white;
}

.datos {
  display: flex;
  flex-direction: row;
}

.datos__titulo {
  width: 20%;
  border-right: solid 1px black;
}

.datos__info {
  width: 80%;
  border-bottom: solid 1px black;
  padding-left: 5px;
}

.datos__info--ultimo {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.datos__info--fila {
  width: 40%;
  padding-left: 5px;
}

.datos__info--fila2 {
  width: 20%;
  border-left: solid 1px black;
  border-right: solid 1px black;
  padding-left: 5px;
}

.recibo__codigo {
  padding: 5px;
  background-color: white;
  display: flex;
  flex-direction: row;
  border: solid 1px black;
}

.fecha-impresion {
  color: gray;
  font-size: small;
  font-weight: 600;
}

.codigo__fecha {
  width: 40%;
  padding-top: 4em;
}

.codigo__barras {
  width: 60%;
}

.codigo__imagen {
  width: 30%;
}
