.stepper-line-vertical {
    position: absolute;
    height: 50px; /* ajusta la altura según sea necesario */
    width: 2px; /* ajusta el ancho según sea necesario */
    background-color: #ff0000; /* ajusta el color según sea necesario */
    left: 50%; /* posiciona la línea en el centro del icono */
    transform: translateX(-50%);
  }
  
  /* Línea horizontal entre los iconos en diferentes niveles */
  .stepper-line {
 
    background-color: #ff0000; /* ajusta el color según sea necesario */
   
  }